<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>Fanout</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family:
      Gill Sans,
      Gill Sans MT,
      Calibri,
      Trebuchet MS,
      sans-serif;
  }

  button {
    all: unset;
    color: #fff;
    font-size: 18px;

    padding: 1rem;
    border-radius: 12px;

    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
      transform: translateY(-6px);
    }
  }

  body {
    background-color: #5b59cf;
  }
</style>
